@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-teko: "Teko", sans-serif;
}

body {
  font-family: var(--font-barlow);
  overflow-x: hidden; /* ✅ Horizontal scroll bar hatao */
}
.sticky-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 50 !important;
}
.liquid-fill {
  background: linear-gradient(to top, #ff5f13 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: liquidMove 4s ease-in-out infinite;
}

@keyframes liquidMove {
  0%,
  100% {
    background-position: 0% 50%; /* fully neeche (text empty) */
  }
  50% {
    background-position: 0% 0%; /* fully upar (text filled) */
  }
}

@keyframes vanishReveal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-vanish-reveal {
  animation: vanishReveal 10s ease-in-out infinite; /* 20s = 1 minute mein 3 baar */
}

/* .swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Hide Swiper Pagination Dots */
/* .swiper-pagination {
  display: none !important;
}  */
/* 
@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-wave {
  animation: wave 3s ease-in-out infinite;
} */
